@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

html,
header,
nav,
ul,
body,
img,
p,
div,
h1,
h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  background-image: url('img/br.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; /* Add a position value to make the overlay cover the entire body */
  color: #000;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

#overlay {
  position: absolute; /* Position the overlay relative to the body */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity value (0.5) to control the dimness */
}


a {
  color: #000;
  text-decoration: none;
  position: relative;
}

h1 {
  text-align: left;
  font-size: 40px;
  font-family: "Varela Round", sans-serif;
  font-weight: normal;
  margin-bottom: 30px;
}

nav {
  background: #1799b6;
  display: flex;
  align-items: center;
}

nav img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: right;
  margin-left: 45%;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  font-size: large;
  padding: 10px;
  border: 1px solid transparent;
}

nav ul li a.active {
  color: #ff79eb;
}

nav ul li a:hover {
  color: #ff79eb;
  border-color: #ff79eb;
}

.main {
  align-items: center;
}

.home {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.home img {
  margin-top: 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.namestart {
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.name-about {
  font-family: "Titillium Web", sans-serif;
  line-height: 30px;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 20px;
}

.socialicon img {
  width: 40px;
  height: 40px;
  margin-top: 30px;
}

.about {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 20px;
}

.music-card {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  padding: 20px;
  text-align: center;
}

.music-card h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.music-card p {
  margin-top: 10px;
  color: #777;
}

.audio {
  width: 100%;
}

.vid {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 30px;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}

.videos {
  margin-left:  110px;
}

.videos video {
  width: 300px;
  height: 500px;
  margin-right: 20px;
  margin-bottom: 30px;
  align-items: center;
  border: 2px solid white;
}

article {
  border: 3px solid #1799b6;
  padding: 10px;
  margin-bottom: 20px;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  background-color: #fff;
}

.contact {
  margin-left: 50px;
}

.contact-socialicon {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 3px solid #1799b6;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 20px;
}

button {
  background-color: #1799b6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #1799b6;
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff79eb;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #ff79eb;
}

.resume_wrapper{
	display: flex;
	width: 800px;
	margin: 50px auto;
	background: #fff;
	padding: 10px;
}

.resume_wrapper .resume_left{
	width: 35%;
	background: #26252d;
}

.resume_wrapper .resume_left .resume_image{
	width: 100%;
}

.resume_wrapper .resume_left .resume_image img{
	width: 100%;
	display: block;
}

.resume_wrapper .resume_title{
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 10px;
	letter-spacing: 4px;
}

.resume_wrapper .resume_left .resume_info{
	color: #84838b;
}

.resume_wrapper .resume_left .resume_bottom{
	padding: 20px 30px;
}

.resume_wrapper .resume_item{
	padding: 20px 0;
	border-bottom: 1px solid #1799b6;
}

.resume_wrapper  .resume_item:last-child{
	border-bottom: 0;
}

.resume_wrapper .resume_left .resume_namerole{
	display: none;
}

.resume_wrapper .resume_namerole .name{
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 5px;
	letter-spacing: 4px;
}

.resume_wrapper .resume_left .resume_namerole .role{
	color: #84838b;
}

.resume_wrapper .resume_left .resume_contact .resume_info:last-child{
	 margin-top: 10px;
}

.resume_wrapper .resume_left .resume_contact .resume_subtitle{
	color: #fff;
	margin-bottom: 2px;
}

.resume_wrapper .resume_left .resume_skills .skills_list{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p{
	position: relative;
	width: 125px;
    height: 20px;
    background: #fff;
}

.resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p span{	
	position: absolute;
	top: 0;
	left: 0;
	background: #1799b6;
	width: 100%;
	height: 100%;
}

.resume_wrapper .resume_right{
	width: 65%;
	padding: 20px 40px;
	color: #26252d;
}

.resume_wrapper .resume_right .resume_namerole .name{
	color: #26252d;
	font-size: 32px;
}

.resume_wrapper .resume_right .resume_namerole .role{
	font-size: 14px;
	text-transform: uppercase;
}

.resume_wrapper .resume_right .resume_item .resume_title{
	color: #26252d;
}

.resume_wrapper .resume_right .resume_data{
	display: flex;
}

.resume_wrapper .resume_right .resume_data .year{
	padding-right: 35px;
	width: 115px;
	position: relative;
}

.resume_wrapper .resume_right .resume_data .content{
	padding-left: 35px;
	margin-bottom: 20px;
	width: calc(100% - 115px);
}

.resume_wrapper .resume_right .resume_data .year:before{
	content: "";
	position: absolute;
	top: 5px;
	right: 0;
	width: 10px;
	height: 10px;
	background: #fff;
	border: 1px solid #26252d;
	border-radius: 50%;
}

.resume_wrapper .resume_right .resume_data .year:after{
	content: "";
    position: absolute;
    top: 17px;
    right: 4px;
    width: 3px;
    height: 90%;
    background: #1799b6;
}

.resume_wrapper .resume_right .resume_data:last-child .year:after{
	display: none;
}

.resume_wrapper .resume_right .resmue_interests .resume_info{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.resume_wrapper .resume_right .resmue_interests .interests .int_icon{
	font-size: 38px;
	color: #1799b6;
	margin-bottom: 10px;
}

/* /////////////////////footer///////////////////////////////// */
footer {
  background-color: #1799b6;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 0px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
  color: white;
  padding: 20px;
  width: 100%;
  text-emphasis-style: bold;
  text-align: center;
}

/* //////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1440px) {
  nav {
    margin-left: 0;
  }

  .skills {
    width: 100%;
  }
  .music-details div {
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 600px) {
  nav {
    display: none;
  }

  .main {
    margin: 0;
  }

  .skills {
    width: 100%;
  }

  .music-details div {
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
  }
}
